<div class="hcontent">
    <div class="hcontent-element">
        <a href="#">Join a movement</a>
    </div>
    <div class="hcontent-element">
        <a href="#">Learn to cool</a>
    </div>
    <div class="hcontent-element">
        <a href="#">Train for a marathon</a>
    </div>
    <div class="hcontent-element">
        <a href="#">Build a mobile app</a>
    </div>
    <div class="hcontent-element">
        <a href="#">Hike a mountain</a>
    </div>
    <div class="hcontent-element">
        <a href="#">Practice a language</a>
    </div>
</div>